;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[reagent "0.8.1"]
                [binaryage/devtools "0.9.11"]
                [reagent-utils "0.3.3"]]

 :builds {:main {:target :node-script
                 :output-to "resources/main.js"
                 :main app.main.core/main}

          :renderer {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "js"
                     :js-options {:js-provider :require}
                     :modules {:renderer {:entries [app.renderer.core]}}
                     :devtools {:before-load app.renderer.core/stop
                                :after-load app.renderer.core/start}}}}
